* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #EEE;
    font: 13px/21px Verdana, sans-serif;
}
/* HEADER */
.logo {
    margin-left: 40px;
}
.main-page {
    width: 962px;
    min-height: 900px;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 0 0 4px #ccc;
    padding: 50px 50px 0;
}
.top-menu-container {
    margin-top: 30px;
}
.top-menu {
    font: 14px/29px Helvetica,Arial,Verdana,sans-serif;
    height: 40px;
    list-style-type: none;
    background-image: linear-gradient(to top, #454545 0%, #5D5D5D 100%);
}
.top-menu li, .footer li {
    float:left;
}
.top-menu a {
    display: block;
    padding: 6px 25px 0;
    height: 33px;
    text-decoration: none;
    color: #FFF;
    }
.top-menu li.active, .top-menu a:hover {
    background-color: #3d3d3d;
    border-right: 1px solid #666;
    border-left: 1px solid #666;
    margin: 0 -1px;
}
.top-menu li.active + li a:hover {
    margin: 0 -1px 0 0;
    padding: 6px 25px 0 24px;
}
.top-menu li:first-child a:hover {
    border-left: none;
    margin-left: 0;
}
.main {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 60px;
}
.sidebar {
    padding: 0 40px 0 0;
    width: 240px;
    float: left;
}
.left-menu {
    list-style-type: none;
}
.left-menu li a {
    text-decoration: none;
    display: block;
    font: 13px/39px Helvetica, Arial, Verdana, sans-serif;
    border: 1px solid #ccc;
    border-top: 0;
    padding: 0 30px;
    color: #666;
}
ul.left-menu > :first-child {
    border-top: 1px solid #ccc;
}
.left-menu li.active, .left-menu li a:hover {
    background-color: #F9F9F9;
}
.left-menu li.active a, .left-menu li a:hover {
    padding: 0 30px 0 50px;
}
/* CONTENT */
.content {
    width: 682px;
    float: left;
}
.image-container {
    padding: 50px 0;
    border: 1px solid #c8c8c8;
    text-align: center;
}
.image-container img {
    vertical-align: middle;
}
.text {
    margin-top: 30px;
    padding: 0 10px 0 50px;
}
p {
    margin-bottom: 15px;
}
/* FOOTER */
.footer {
    background-color: #E1E1E1;
    height: 40px;
}
.footer ul {
    overflow: hidden;
    width: 80%;
    float: left;
}
.footer li {
    list-style-type: none;
    padding: 6px 95px 0 25px;
}
.footer a, .copyright {
    text-decoration: none;
    font: 13px/29px Helvetica, Arial, Verdana, sans-serif;
    color: #2c2c2c;
}
.copyright {
    float: right;
    padding: 6px 25px 0 0;
    position: relative;
}
.active-footer, .footer a:hover {
    text-decoration: underline;
}
.active-footer a:hover {
    text-decoration: none;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}