body {
    background-color: #EEE;
}
h1 {
    margin: 0;
}
p {
    margin: 0;
}
.main-content {
    background-color: #FFF;
    box-shadow: 0 0 4px #ccc;
    padding: 60px;
    width: 500px;
    margin: 0 auto;
}
.head-content {
    text-align: center;
}
.job-title, .sub-content {
    border-bottom: 2px solid #ABABAB;
    margin-bottom: 10px;
    padding: 0 15px 10px;
}
.network-profile {
    padding-top: 20px;
}
.footer-content {
    padding: 0 15px 0;
}